{% block form_row %}
    <div class="card mb-3">
        <div class="card-header">
            {{ form_label(form) }}
        </div>
        <div class="card-body">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_help(form) }}
        </div>
    </div>
{% endblock %}

{% block choice_widget_expanded %}
    <ul {{ block('widget_container_attributes') }}>

        {% for child in form %}
            <li>
                {{ form_widget(child) }}
                {{ form_label(child) }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}