{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}

<div class="container">
    <h1>Tests</h1>

    <a href="{{ path('test_create') }}" class="btn btn-success">Add a new test</a>

    <table class="table mt-3 mb-3">
        {% for test in tests %}
            <tr>
                <td>{{ test.name }}</td>
                <td>Questions: {{ test.questions.count }}</td>
                <td class="text-right">
                    <a href="{{ path('test', {id: test.id}) }}" class="btn btn-primary">Open</a>
                    <div class="btn-group" role="group">
                        <a href="{{ path('test_update', {id: test.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('test_delete', {id: test.id}) }}" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
