{% extends 'base.html.twig' %}

{% block title %}Test: {{ test.name }}!{% endblock %}

{% block body %}

    <h1><a href="{{ path('site') }}"><</a> {{ test.name }}</h1>


    {% if test.questions|length > 0 %}
        {% form_theme form 'form/choices.html.twig' %}
        {{ form_start(form) }}


        {{ form_end(form) }}
    {% else %}
        <p>Questions not found!</p>
    {% endif %}
{% endblock %}
