{% extends 'base.html.twig' %}

{% block title %}Test: {{ test.name }}!{% endblock %}

{% block body %}

    <h1><a href="{{ path('site') }}"><</a> {{ test.name }}</h1>

    <h3><strong>Congratulations.</strong> Your score is {{ point }} points</h3>
{% endblock %}
