{% extends 'base.html.twig' %}

{% block title %}Creating a new test!{% endblock %}

{% block body %}

    <h1><a href="{{ path('site') }}">< Tests</a></h1>

    <div class="card">
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form.name) }}
        </div>
        <div class="card-footer">
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
