{% extends 'base.html.twig' %}

{% block title %}Updating: {{ test.name }}{% endblock %}

{% block body %}

    <h1><a href="{{ path('site') }}">< Tests</a></h1>
    <div class="card mb-3">
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form.name) }}
        </div>
        <div class="card-footer">
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>

    <div class="card">
        <div class="card-header">Questions
            <a href="{{ path('test_create_question', {id: test.id}) }}" class="btn btn-success">Add a new question</a>
        </div>
        <div class="card-body">
            {% if test.questions|length > 0 %}
            <table class="table">
                {% for question in test.questions %}
                    <tr>
                        <td>{{ question.name }}</td>
                        <td>
                            <ul>
                                {% for answer in question.answers %}
                                    <li>
                                        {% if answer.isRight %}
                                            <i class="fas fa-check text-success"></i>
                                        {% else %}
                                            <i class="fas fa-times text-danger"></i>
                                        {% endif %}
                                        {{ answer.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="text-right">
                            <a href="{{ path('test_update_question', {id: question.id}) }}" class="btn btn-primary">Edit</a>
                            <a href="{{ path('test_delete_question', {id: question.id}) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>You have not added any questions to the test yet.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}

