{% extends 'base.html.twig' %}

{% block title %}Updating: {{ question.name }}{% endblock %}

{% block body %}

    <h1><a href="{{ path('test_update', {id: question.test.id}) }}">< {{ question.test.name }}</a></h1>

    <div class="card">
        <div class="card-body">
            {% form_theme form 'jquery.collection.html.twig' %}
            {{ form(form) }}

            {{ form_start(form) }}

            {{ form_row(form.name) }}

            {% for answer in form.answers %}
                {{ form_row(answer.name) }}
                {{ form_row(answer.is_right) }}
            {% endfor %}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.answers').collection();
    </script>
{% endblock %}
